<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>Globalink</title><!--ブラウザのタブのタイトルを指定-->
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
  </head>
  <body>
    <header class="header-nav">
      <nav><a href="#first-block">Home</a></nav>
      <nav><a href="#second-block">About Globalink</a></nav>
      <nav><a href="#third-block">Globalink 詳細</a></nav>
    </header>

  <!--  コンテンツを一旦仮置きする  -->
    <section id="first-block">
     <div class="title-container">
      <h1>Globalink</h1>
      <h3>~ 指先一つ、世界の旅へ ~</h3>
      
    </div>
    </section>
    <section id="second-block">
    <p class="info-title">
        About Globalink
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>World Map</b>
        <br>
        <span class="font-small">
        世界地図上で、国を検索することができます。
        <br>
        国を選択すると、国の情報にすぐにアクセスできます。
        <br>
        対応する国は、順次追加されます。

        </span>
      </p>

      <div class="link-text">
        <p>
        <b><%= link_to "World Mapへ", countries_map_path, class: "map_link" %></b>
        </p>
        
        
        <div class="start-link">
        <b><%= link_to "診断を始める", new_perfume_path, class: "link" %></b>
        </div>
        </div>

        <p class="info-text">
        <b>診断機能</b>
        <br>
        <span class="font-small">
        自分の性格や価値観に合った国を診断することができます。
        <br>
        主要国といわれるG20の国々の中から診断されます。
        <br>
        診断されたら、その国をWorld　Map上で探してみましょう
        </span>
        </p>

        

      
    </div>
    </section>
    <section id="third-block">
    <p class="events-title">
      Globalinkとは？
    </p>
    <div class="event-container">
      <div class="event">
        <img src="https://res.cloudinary.com/demmahfmp/image/upload/v1757557274/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2025-09-11_112034_feddzu.png" class="G20-image">
        <p class="event-name">
          <span>成り立ち</span>
          <br>
          <br>
          海外の国々をもっと知りたい！
          でもたくさんの国があって一つ一つ調べるのが面倒．．．
          そんな課題を解決するため、ワンクリックで国の情報にアクセスできる
          「Globalink」を開発しました。有名な観光地や、伝統的な食べ物を中心とした情報を知り、興味を持つことができたらぜひ
          ご自身で、より深くその国について調べてみてください。<br>
          <br>
          <br>
          <span>診断機能</span>
          <br>
          <br>
          たくさんの国があるけど自分に合った国ってあるのかな？
          そんな興味がある方は、ぜひ診断機能をお試しください。
          ご自身の性格や価値観、旅行先の決め手に関する質問から、あなたに合った国を診断
          することができます。出てきた国を、あなたの「推し国」にしてみてはいかがでしょうか。
        </p>
      </div>
      
    </section>
  <!--  コンテンツはここまで  -->

    <footer>
      <p>Copyright © ○○○○ All Rights Reserved.</p>
    </footer>
  </body>
</html>