#world-map {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin: 0 auto;
}

#world-map svg {
    width: min(960px, 95px);
    height: auto;
    aspect-ratio: 960 / 600;
    display: block;
}
.map-title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
    font-size: 10px;
}

#mapblock{
    background-color: rgb(252, 252, 252);
}